$font-baloo: 'Baloo Tamma 2', sans-serif;

$utilities: (
  "font-family": (
    property: font-family,
    class: font,
    values: (
      baloo: $font-baloo,
    ),
  ),
  "letter-spacing": (
    property: letter-spacing,
    class: spacing,
    values: (
      1: 0.7px,
      2: 2px,
      3: 3px,
      4: 4px,
      5: 5px
    ),
  )
);

$border-radius-xl: 0.75rem;

.rounded-top-4 {
  border-top-left-radius: $border-radius-xl;
  border-top-right-radius: $border-radius-xl;
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}
