$spacing: (
  1: 0.7px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);

@each $n, $value in $spacing {
  .spacing-#{$n} {
    letter-spacing: #{$value};
  }
}

$border-radius-xl: 0.75rem;

.rounded-top-4 {
  border-top-left-radius: $border-radius-xl;
  border-top-right-radius: $border-radius-xl;
}

.font-baloo {
  font-family: 'Baloo Tamma 2', cursive;
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fw-medium {
  font-weight: 500;
}

.custom-icon {
  background: $secondary;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
}