$spacing: (
  1: 0.7px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);

@each $n, $value in $spacing {
  .spacing-#{$n} {
    letter-spacing: #{$value};
  }
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fw-medium {
  font-weight: 500;
}