// nav
.nav-tabs {
  & .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid $primary;
  }

  & .nav-link:hover {
    font-weight: bold;
  }
}

// accordion
.accordion-shadow {
  box-shadow: 0 0 8px 0 rgba(73, 72, 70, 0.15);
}

// button
.btn-primary:hover {
  background-color: $accent;
  border-color: $accent;
  color: #fff;
}

.btn-outline-secondary:hover {
  background-color: $primary;
  border-color: $primary;
  
  & i {
    color: $accent;
  }
}

// form control, form-select
.form-control:focus, .form-select:focus {
  border-color: $accent;
  box-shadow: none;
}

// 社群icon
.custom-icon {
  background: $secondary;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $primary;
    color: $dark;
  }
}

// logo
.logo {
  width: 111px;
}

// 目前進度卡片
.progress-img {
  max-width: 220px;
}