<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>拼拼 - <%- title %></title>
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
    <meta property="og:title" content="<%- title %>  | 拼拼 " />
    <meta
      property="og:description"
      content="使用 Bootstrap5 結合 Sass 製作的切板專案"
    />
    <meta property="og:site_name" content=" 拼拼 " />
    <meta
      property="og:url"
      content="https://kalpaswang.github.io/hexschool-js-final/BMICalculator/"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="assets/BMICLogo.png" />
    <meta property="og:locale" content="zh_TW" />
    <!-- <link rel="icon" href="./images/logo-dark.png"> -->

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="style/all.css" />
  </head>
  <body>
    <!-- 登入視窗 -->
    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      aria-labelledby="loginModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content border-0 border-top border-4 border-primary">
          <div class="modal-header">
            <h4 class="modal-title" id="loginModalLabel">登入</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="my-3">
                <label for="account" class="form-label">帳號</label>
                <input type="text" class="form-control bg-light" id="account" />
              </div>
              <div class="mb-1">
                <label for="password" class="form-label">密碼</label>
                <input
                  type="text"
                  class="form-control bg-light"
                  id="password"
                />
              </div>
              <p><a href="#" class="link-secondary">忘記密碼？</a></p>
              <div class="mb-7">
                <button
                  type="submit"
                  class="btn btn-primary btn-lg rounded-pill w-100"
                >
                  登入
                </button>
              </div>
              <div class="modal-footer position-relative">
                <p
                  class="
                    position-absolute
                    start-50
                    translate-middle
                    bg-white
                    px-2
                  "
                >
                  還沒有帳號？ <a href="#" class="link-accent">註冊一個帳號</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav
      class="
        navbar navbar-expand-md navbar-light
        border-bottom border-5 border-primary
      "
    >
      <div class="container">
        <h1 class="mb-0 d-inline navbar-brand">
          <a href="#">
            <img
              src="https://hexschool.github.io/boootstrap5WebLayout/assets/logo.jpg"
              alt="logo"
              style="width: 111px"
            />
          </a>
        </h1>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarItems"
          aria-controls="navbarItems"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarItems">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">關於</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">挖寶</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">我有個大膽的想法</a>
            </li>
          </ul>
          <div class="ms-auto">
            <button
              class="btn btn-primary rounded-pill px-5 me-3"
              data-bs-toggle="modal"
              data-bs-target="#loginModal"
            >
              登入
            </button>
            <button class="btn btn-outline-secondary rounded-pill px-5">
              註冊
            </button>
          </div>
        </div>
      </div>
    </nav>

    <section class="py-5 bg-light">
      <div class="container">
        <p class="badge bg-secondary fs-7 mb-1">魔法科技</p>
        <h2 class="spacing-3 mb-4">拍出會動的照片｜LivePhotos 魔法拍立得</h2>
        <div class="row">
          <div class="col-md-7">
            <img
              src="https://hexschool.github.io/boootstrap5WebLayout/assets/produt_image.jpg"
              class="img-fluid rounded"
            />
          </div>
          <div class="col-md-5">
            <p class="fs-7">目標 $600,000</p>
            <h3 class="fs-2">$280,047</h3>
            <div class="progress bg-grey">
              <div
                class="progress-bar bg-primary text-dark"
                role="progressbar"
                style="width: 41%"
                aria-valuenow="41"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                41%
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-secondary">贊助人數</p>
                <p class="h2">1374 人</p>
              </div>
              <div class="col">
                <p class="text-secondary">募資倒數</p>
                <p class="h2">27 天</p>
              </div>
            </div>
            <div class="mb-3">
              <img
                src="https://hexschool.github.io/boootstrap5WebLayout/assets/icon_good01.svg"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="認證標章"
                class="me-4"
              /><img
                src="https://hexschool.github.io/boootstrap5WebLayout/assets/icon_good02.svg"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="品質保證"
                class="me-4"
              /><img
                src="https://hexschool.github.io/boootstrap5WebLayout/assets/icon_good03.svg"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="原生創意"
                class="me-4"
              /><img
                src="https://hexschool.github.io/boootstrap5WebLayout/assets/icon_good04.svg"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="人氣王"
              />
            </div>
            <div class="bg-white p-3 mb-4 border-start border-3 border-primary">
              <p class="mb-0">專案募資中！</p>
              <p class="mb-0">
                在 2021/06/14 23:59 募資結束前，您都可以贊助我們！
              </p>
            </div>
            <div>
              <div class="mb-2">
                <button class="btn btn-primary rounded-pill w-100">
                  贊助專案
                </button>
              </div>
              <div class="row">
                <div class="col-md-7 pe-0">
                  <button class="btn btn-outline-secondary rounded-pill w-100">
                    <i class="fas fa-heart"></i> 追蹤專案
                  </button>
                </div>
                <div class="col-md-5 ps-2">
                  <button class="btn btn-outline-secondary rounded-pill w-100">
                    <i class="fas fa-share-alt"></i> 分享
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="js/vendor.js"></script> -->
    <script src="js/all.js"></script>
  </body>
</html>
