<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>拼拼 - <%- title %></title>
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
    <meta property="og:title" content="<%- title %>  | 拼拼 " />
    <meta
      property="og:description"
      content="使用 Bootstrap5 結合 Sass 製作的切板專案"
    />
    <meta property="og:site_name" content=" 拼拼 " />
    <meta
      property="og:url"
      content="https://kalpaswang.github.io/hexschool-js-final/BMICalculator/"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="assets/BMICLogo.png" />
    <meta property="og:locale" content="zh_TW" />
    <!-- <link rel="icon" href="./images/logo-dark.png"> -->

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style/all.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="https://hexschool.github.io/boootstrap5WebLayout/assets/logo.jpg"
            alt="logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarItems"
          aria-controls="navbarItems"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarItems">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">關於</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">挖寶</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">我有個大膽的想法</a>
            </li>
          </ul>
          <form class="ms-auto">
            <button class="btn btn-primary rounded-pill me-3">登入</button>
            <button class="btn btn-outline-secondary rounded-pill">註冊</button>
          </form>
        </div>
      </div>
    </nav>
  </body>
</html>
